<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th,
    td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    tr:hover {
      background-color: coral;
    }
  </style>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/list-users">List</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
    <table>
      <tr>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>action</th>
      </tr>
      <% listUsers.forEach(function(user) { %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.email %></td>
        <td><%= user.email %></td>
        <td>
            <a href="/update/<%= user.id %>">Edit</a>
          <button>Delete</button>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
